<md-sidenav-container>
    <div class="container">

        <h2 align="center">{{title}}</h2>

        <date-filter (clearDateFilterEvent)="clearFilter($event)" (fetchRecordEvent)="fetchRecords($event)" cols="4" rowHeight="4:1"
            colspan="1" [page]="{page:'viewRecord',type: title}"></date-filter>

        <!-- <md-grid-list cols="4" rowHeight="4:1">
            <md-grid-tile [colspan]="1">
                <md-input-container class="full-width">
                    <input mdInput [mdDatepicker]="FromDate" placeholder="From Date" [formControl]="fromDate">
                    <button mdSuffix [mdDatepickerToggle]="FromDate"></button>
                </md-input-container>
                <md-datepicker #FromDate></md-datepicker>
            </md-grid-tile>

            <md-grid-tile [colspan]="1">
                <md-input-container class="full-width">
                    <input mdInput [mdDatepicker]="ToDate" placeholder="To Date" [formControl]="toDate">
                    <button mdSuffix [mdDatepickerToggle]="ToDate"></button>
                </md-input-container>
                <md-datepicker #ToDate></md-datepicker>
            </md-grid-tile>
            <md-grid-tile [colspan]="1">
                <button (click)="search()" md-raised-button color="primary">
                    <i class="material-icons">search</i> Search</button>
            </md-grid-tile>
            <md-grid-tile [colspan]="1">
            </md-grid-tile>
        </md-grid-list> -->

        <md-grid-list cols="4" rowHeight="4:1">
            <md-grid-tile [colspan]="1">
                <md-input-container class="full-width">
                    <input mdInput type='text' placeholder='Filter by Bill No' [(ngModel)]="filterBillNo" (keyup)='updateFilter($event)' />
                </md-input-container>
            </md-grid-tile>

            <md-grid-tile *ngIf="title == 'Purchase'" [colspan]="1">
                <md-input-container class="full-width">
                    <input mdInput type='text' placeholder='Filter by supplier' [(ngModel)]="filterSupplier" (keyup)='updateFilter($event)' />
                </md-input-container>
            </md-grid-tile>

            <md-grid-tile *ngIf="title == 'Sales'" [colspan]="1">
                <md-input-container class="full-width">
                    <input mdInput type='text' placeholder='Filter by Customer' [(ngModel)]="filterCustomer" (keyup)='updateFilter($event)' />
                </md-input-container>
            </md-grid-tile>

        </md-grid-list>

        <ngx-datatable class="material" [rows]="title == 'Purchase' ? purchaseRecords : salesRecords" [columnMode]="'force'" [sortType]="'single'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="40" [limit]="6">

            <ngx-datatable-column prop="BillNo" name="Bill Number"></ngx-datatable-column>
            <ngx-datatable-column prop="BillDate" name="Bill Date"></ngx-datatable-column>
            <ngx-datatable-column *ngIf="title == 'Purchase'" prop="Supplier" name="Supplier"></ngx-datatable-column>
            <ngx-datatable-column *ngIf="title == 'Sales'" prop="Customer" name="Customer"></ngx-datatable-column>
            <ngx-datatable-column prop="Items" name="Items"></ngx-datatable-column>
            <ngx-datatable-column *ngIf="title == 'Purchase'" prop="Purchase_amt" name="Purchase Amt"></ngx-datatable-column>
            <ngx-datatable-column *ngIf="title == 'Sales'" prop="Sales_amt" name="Sales Amt"></ngx-datatable-column>
            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    <a routerLink="." mdTooltip="Delete record" (click)="deleteRecord(row)">
                        <i class="material-icons">delete</i>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    <a routerLink="." mdTooltip="View record" (click)="viewRecord(row)">
                        <i class="material-icons">remove_red_eye</i>
                    </a>
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    <a routerLink="." mdTooltip="Edit Record" (click)="editRecord(row)">
                        <i class="material-icons">mode_edit</i>
                    </a>
                    <!-- <button md-icon-button>
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button> -->
                </ng-template>
                <!-- <a md-button routerLink="/record/Sales"><span class="glyphicon glyphicon-pencil"></span></a> -->
            </ngx-datatable-column>
        </ngx-datatable>
    </div>

    <!-- View Record Data Starts here -->
    <!-- <md-sidenav align="end" mode="push" #sidenav class="viewRecord">
        <div style="padding-bottom:5px;">
            <button style="float:right" md-icon-button color="warn" (click)="sidenav.close()">
                <i class="material-icons">close</i>
            </button>
            <h3>View Record</h3>
        </div>
        <md-card>
            <div class="view-container">

                <md-grid-list cols="5" rowHeight="5:1">
                    <md-grid-tile [colspan]="1">
                        <label>Bill Number:</label>
                    </md-grid-tile>
                    <md-grid-tile [colspan]="1">
                        <md-input-container class="full-width">
                            <input mdInput disabled [value]="view_BillNo" [title]="view_BillNo">
                        </md-input-container>
                    </md-grid-tile>
                    <md-grid-tile [colspan]="1">
                        <label>Bill Date:</label>
                    </md-grid-tile>
                    <md-grid-tile [colspan]="1">
                        <md-input-container class="full-width">
                            <input mdInput disabled [value]="view_BillDate" [title]="view_BillDate">
                        </md-input-container>
                    </md-grid-tile>
                    <md-grid-tile [colspan]="1">
                        <button (click)="editRecord(undefined)" md-raised-button>
                            <i class="material-icons">mode_edit</i>
                        </button>
                    </md-grid-tile>
                    <md-grid-tile *ngIf="title == 'Purchase'" [colspan]="1">
                        <label>Supplier</label>
                    </md-grid-tile>
                    <md-grid-tile *ngIf="title == 'Purchase'" [colspan]="1">
                        <md-input-container class="full-width">
                            <input mdInput disabled [value]="view_Supplier" [title]="view_Supplier">
                        </md-input-container>
                    </md-grid-tile>
                    <md-grid-tile *ngIf="title == 'Sales'" [colspan]="1">
                        <label>Customer</label>
                    </md-grid-tile>
                    <md-grid-tile *ngIf="title == 'Sales'" [colspan]="1">
                        <md-input-container class="full-width">
                            <input mdInput disabled [value]="view_Customer" [title]="view_Customer">
                        </md-input-container>
                    </md-grid-tile>
                    <md-grid-tile [colspan]="1">
                        <label>Bill Amount:</label>
                    </md-grid-tile>
                    <md-grid-tile [colspan]="1">
                        <md-input-container class="full-width">
                            <input mdInput disabled [value]="view_BillAmt" [title]="view_BillAmt">
                        </md-input-container>
                    </md-grid-tile>
                    <md-grid-tile [colspan]="1">
                        <button (click)="deleteRecord(undefined)" md-raised-button color="warn">
                            <i class="material-icons">delete</i>
                        </button>
                    </md-grid-tile>
                </md-grid-list>
            </div>
        </md-card>
        <ngx-datatable style="margin-top:7px;margin-bottom:7px;" class="material" [rows]="view_recordItems" [columnMode]="'force'"
            [headerHeight]="50" [footerHeight]="50" [rowHeight]="50">
            <ngx-datatable-column prop="Pname" name="Name"></ngx-datatable-column>
            <ngx-datatable-column prop="manufacturer" name="manufacturer"></ngx-datatable-column>
            <ngx-datatable-column prop="type" name="Type">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{value == true ? "Gen" : "Non-gen"}}
                </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column prop="tax_percent" name="Tax"></ngx-datatable-column>
            <ngx-datatable-column prop="BatchNo" name="Batch"></ngx-datatable-column>
            <ngx-datatable-column prop="Exp_date" name="Exp Date"></ngx-datatable-column>
            <ngx-datatable-column prop="qty" name="Quantity"></ngx-datatable-column>
            <ngx-datatable-column prop="mrp" name="MRP"></ngx-datatable-column>
            <ngx-datatable-column prop="P_rate" name="Rate"></ngx-datatable-column>
            <ngx-datatable-column prop="P_rate" name="Value">
                <ng-template ngx-datatable-cell-template let-row="row" let-value="value">
                    {{ row['qty'] * (title == 'Sales' ? row['mrp'] : row['P_rate'])}}
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>
    </md-sidenav> -->
    <md-sidenav align="end" mode="push" #sidenav class="viewRecord">
            <div style="padding-bottom:5px;">
                    <button style="float:right" md-icon-button color="warn" (click)="sidenav.close()">
                        <i class="material-icons">close</i>
                    </button>
                    <h3>View Record</h3>
                </div>
        <peek-record [billId]="view_Id" [billNo]="view_BillNo" [billDate]="view_BillDate" [supplier]="view_Supplier" [type]="title"
            [billAmt]="view_BillAmt" [customer]="view_Customer" (deleteRecordEvent)="deleteRecordFromView($event)"></peek-record>
    </md-sidenav>
</md-sidenav-container>